PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
ANALYZE sqlite_schema;
CREATE TABLE IF NOT EXISTS "Markets" (
    Market TEXT,
    Monday TEXT,
    Tuesday TEXT,
    Wednesday TEXT,
    Thursday TEXT,
    Friday TEXT,
    Saturday TEXT,
    Sunday TEXT,
    Website TEXT,
    auto_id INTEGER PRIMARY KEY AUTOINCREMENT
);
INSERT INTO Markets VALUES('Queen Victoria','Closed','6:00 am - 3:00 pm','Closed','6:00 am - 3:00 pm','6:00 am - 3:00 pm','6:00 am - 4:00 pm','9:00 am - 4:00 pm','https://www.qvm.com.au/',1);
INSERT INTO Markets VALUES('South Melbourne','Closed','Closed','8:00 am - 4:00 pm','Closed','8:00 am - 5:00 pm','8:00 am - 4:00 pm','8:00 am - 4:00 pm','https://www.southmelbournemarket.com.au/',2);
INSERT INTO Markets VALUES('Prahran','Closed','7:00 am - 5:00 pm','Closed','7:00 am - 5:00 pm','7:00 am - 5:00 pm','7:00 am - 5:00 pm','10:00 am - 3:00 pm','https://www.prahranmarket.com.au/',3);
CREATE TABLE IF NOT EXISTS "Restaurants" (
    Letter TEXT,
    Cuisine TEXT,
    Restaurant TEXT,
    Location TEXT,
    Visit_Date TEXT,
    Comments TEXT,
    auto_id INTEGER PRIMARY KEY AUTOINCREMENT
);
INSERT INTO Restaurants VALUES('A','Afghani','Afghan Gallery','Fitzroy','2000','The first one - with all family members',1);
INSERT INTO Restaurants VALUES('B','Balinese','Warung Agus','West Melbourne','2002','',2);
INSERT INTO Restaurants VALUES('C','Colombian','"Oh how the memory fails"','Carlton','2004','Cannot recall name (Ian booked) but was in Lygon St Carlton',3);
CREATE TABLE IF NOT EXISTS "IconColour" (
    TripID INTEGER UNIQUE NOT NULL,
    trip TEXT NOT NULL,
    icon_colour TEXT NOT NULL,
    auto_id INTEGER PRIMARY KEY AUTOINCREMENT
);
INSERT INTO IconColour VALUES(1,'1998: Disneyland','Red',1);
INSERT INTO IconColour VALUES(2,'2003: Canada','Blue',2);
INSERT INTO IconColour VALUES(3,'2005/2006: Central America','Green',3);
CREATE TABLE IF NOT EXISTS "Maps" (
    ID INTEGER NOT NULL,
    name TEXT,
    address TEXT,
    Country TEXT,
    VisitDate TEXT DEFAULT NULL,
    latitude REAL,
    longitude REAL,
    photo TEXT DEFAULT NULL,
    TripID INTEGER,
    hide INTEGER DEFAULT (0),
    auto_id INTEGER PRIMARY KEY AUTOINCREMENT,
    FOREIGN KEY (TripID) REFERENCES IconColour (TripID) ON DELETE CASCADE
);
INSERT INTO Maps VALUES(20,'Los Angeles','Los Angeles International Airport, California, USA','USA','2007',33.943901,-118.4086,'LAX1',5,0,1);
INSERT INTO Maps VALUES(30,'Santa Monica Pier','Santa Monica, California, USA','USA','2007',34.008598,-118.498001,'SantaMonica',5,0,2);
INSERT INTO Maps VALUES(50,'London','London, England','England','2007',51.5131,-0.1822,'London',5,0,3);
CREATE TABLE IF NOT EXISTS "Events" (
    Event TEXT NOT NULL,
    Performer TEXT,
    EventDate TEXT NOT NULL,
    EventTime TEXT,
    Location TEXT,
    Comments TEXT,
    Status TEXT CHECK (Status IN ('Confirmed', 'Performance Cancelled')),
    auto_id INTEGER PRIMARY KEY AUTOINCREMENT
);
INSERT INTO Events VALUES('Swan Lake','The Australian Ballet Company','2002-09-26','6:30 PM','State Theatre','','Confirmed',1);
INSERT INTO Events VALUES('Jackson Browne','Jackson Browne','2003-02-21','8:00 PM','Palais Theatre','','Confirmed',2);
INSERT INTO Events VALUES('La Boheme','La Boheme','2003-04-22','8:00 PM','Broadway Theatre, New York','','Confirmed',3);
CREATE TABLE Cooking (name TEXT NOT NULL UNIQUE, url TEXT CHECK (substr(url, 1, 8) = 'https://') NOT NULL, comments TEXT, rank INTEGER CHECK (rank BETWEEN 1 AND 99), auto_id INTEGER PRIMARY KEY AUTOINCREMENT);
INSERT INTO Cooking VALUES('Once Upon a Chef','https://www.onceuponachef.com','Very good site for inspirational recipes and advice/techniques',2,1);
INSERT INTO Cooking VALUES('Red House Spice','https://redhousespice.com','Go to for Chinese food',6,2);
INSERT INTO Cooking VALUES('Great British Chefs','https://www.greatbritishchefs.com','Some very elegant recipes are presented',2,3);
PRAGMA writable_schema=ON;
CREATE TABLE IF NOT EXISTS sqlite_sequence(name,seq);
DELETE FROM sqlite_sequence;
INSERT INTO sqlite_sequence VALUES('Markets',7);
INSERT INTO sqlite_sequence VALUES('Restaurants',26);
INSERT INTO sqlite_sequence VALUES('IconColour',30);
PRAGMA writable_schema=OFF;
COMMIT;
